:root {
  /* -------------------------------------- ORANGE */
  --A-210: #d28c00;
  --O-120: #782800;
  --O-120-170: #aa5a32;
  --O--60-110: #6e4632;
  --O---9-245: #f5efec;
  --O---9-235: #ebe5e2;
  --O---9-220: #dcd6d3;
  --O---9-215: #d7d1ce;
  --O---9-210: #d2ccc9;
  --O---9-205: #cdc7c4;
  --O---9-195: #c3bdba;
  --O---9-185: #b9b3b0;
  --O---9-175: #afa9a6;
  --O---9--95: #5f5956;
  /* -------------------------------------- BLUE */
  --B-240: #00a5f0;
  --B-225: #0096e1;
  --B-204: #0088cc;
  --B-186: #007cba;
  --B--75--75: #00324b;
  --B--30-180: #788c96;
  --B--30--90: #3c505a;
  --B--24-204: #b4c4cc;
  --B--15-210: #c3cdd2;
  --B---3-234: #e7e9ea;
  --B---3-224: #dddfe0;
  /* -------------------------------------- RED */
  --R-240: #f00050;
  --R-210: #d20046;
  --R-180: #b4003c;
  --R--30--80: #503237;
  --R--30--60: #3c1e28;
  --R--15-145: #918287;
  /* -------------------------------------- TEAL */
  --T-210: #00d2af;
  --T-192: #00c0a0;
  --T-180: #00b496;
  --T--30-150: #789691;
  /* -------------------------------------- INDIGO */
  --I-180-220: #4628dc;
  --I-180-200: #3214c8;
  --I-180: #1e00b4;
  --I--12-192: #b6b4c0;
}
