/*
GENERAL————————————————————————————————————————————————————
*/
* {
  font-family: Brahmin; /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  font-size: 21px;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}
#top {
  position: absolute;
  top: 0px;
}
/* 
NAVIGATION–––––––——————————————————————————————————————————
na
———————————————————————————————————————————————————————————
*/

nav {
  padding: 30px;
  height: 108px;
  box-sizing: border-box;
}
.nav-l {
  width: calc(50% - 26px);
  float: left;
  text-align: right;
  padding-top: 9px;
  padding-right: 54px;
  box-sizing: border-box;
}
.nav-r {
  width: calc(50% - 26px);
  float: left;
  padding-top: 9px;
  padding-left: 54px;
  box-sizing: border-box;
}
.nav-r > li {
  display: inline-block;
  margin-right: 10px;
  list-style-type: none;
}
.nav-r > li > a {
  padding: 0 3px; /* widen link boxes */
}
@media (orientation: portrait) {
  .nav-l {
    display: none;
  }
  .nav-r {
    width: 280px;
    padding-left: 24px;
  }
  .logo {
    margin-left: calc(50% - 176px);
  }
}
/* 
LOGO–––––––————————————————————————————————————————————————
a > span: "B"
———————————————————————————————————————————————————————————
*/
.logo {
  font-family: Logo;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  width: 52px;
  height: 52px;
  float: left;
  transition-property: color;
  transition-duration: 0.2s;
}
/* 
HEADER––––————————————————————————————————————————————————–
Quick classes for different max-widths.
———————————————————————————————————————————————————————————
*/
header {
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}
header > * {
  margin: auto;
  width: calc(100%);
}
h1 {
  /* for major works */
  text-align: center;
  font-size: 60px;
  padding-top: 50px;
  line-height: 200px;
  font-weight: 600; /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}
h2 {
  /* for blog posts and section titles */
  max-width: 630px;
  font-size: 30px;
  line-height: 50px;
  font-weight: 700; /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}
h3 {
  font-size: 25px;
  line-height: 35px;
  font-weight: 400; /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  padding-top: 20px;
}
h4 {
  font-weight: 700;
  font-size: 21px;
}
header p {
  font-size: 20px;
  max-width: 630px;
  font-weight: 400; /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}
header img {
  display: block;
  height: 100%;
  min-width: calc(200vh);
  margin: 30px 0 30px;
  overflow: hidden;
  display: flex;
  margin-bottom: -20px;
}
hr {
  height: 3px;
  width: 60px;
  margin: 45px calc(50% - 315px) 45px;
  border-width: 0px;
}

/* 
SECTION––––————————————————————————————————————————————————
Quick classes for different max-widths.
———————————————————————————————————————————————————————————
*/

section {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
section h2,
section h3,
section h4,
section p,
section li,
header h2,
header h3,
header p {
  max-width: 630px;
  margin-top: 20px;
  margin-bottom: 20px;
}
section > *,
section li,
header h2,
header h3,
header p {
  margin: auto;
  width: calc(100% - 20px);
  position: relative;
}

section h2 {
  padding-top: 40px;
  margin-top: 20px;
}
section p,
section li {
  font-weight: 500; /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}

.indent {
  padding-left: 45px;
  width: calc(100% - 65px);
}

aside {
  float: right;
  width: calc(100vw / 4);
  max-width: 240px;
  margin-top: 20px;
  margin-left: 10px;
  padding: 10px;
  font-weight: 600; /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  font-size: 15px;
  line-height: 20px;
}
aside a {
  font-weight: 600; /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  font-size: 15px;
  line-height: 20px;
}

main > figure {
  overflow: hidden;
  max-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -20px;
}

section figure {
  max-width: 720px;
}
figure img {
  width: 100%;
}
figcaption {
  font-weight: 600; /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  padding-top: 10px;
  font-size: 17.5px;
  line-height: 30px;
  text-align: center;
}
/* 
FOOTER–––––————————————————————————————————————————————————
enough room for sidebar 
———————————————————————————————————————————————————————————
*/
footer {
  max-width: 600px;
  height: 120px;
  position: relative;
  margin: auto;
}

footer p {
  position: relative;
  margin: auto;
  top: 20px;
  font-size: 17.5px;
  text-align: center;
}

/* 
PANELS–––––————————————————————————————————————————————————
enough room for sidebar 
———————————————————————————————————————————————————————————
*/
/* bricks are square elements that come in threes. */
.brick {
  flex: 0 1 auto;
  float: left;
  width: calc(100% / 3);
  height: calc((100vw - 20px) / 3);
  max-height: 240px;
  position: relative;
  color: white;
}
/* blocks fill the horizontal space */
.block {
  display: block;
  width: 100%;
  max-width: 720px;
  min-height: 100px;
  max-height: 300px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 20px;
}
.block > img {
  width: 100%;
}
.block > p {
  padding: 15px 30px 0px 30px;
  margin: auto;
}
.block > h2,
.block > h3,
.block figure {
  padding: 0px 30px 15px 30px;
}

/* some panels house icons and reveal information on hover.
 the icons are typographic, and use a query to shrink */
.panel > .icon {
  font-family: Logo;
  position: inline;
  font-size: 180px;
  line-height: 1.13em;
  width: 100%;
  text-align: center;
  transition-property: color;
  transition-duration: 0.3s;
  z-index: 1;
}
@media (max-width: 740px) {
  .panel > .icon {
    font-size: calc((100vw - 20px) / 4);
  }
}
.panel > .properties {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  opacity: 0;
  z-index: 2;
  transition-property: opacity;
  transition-duration: 0.2s;
}
/* 
SIZING–––––————————————————————————————————————————————————
Quick classes for different max-widths.
———————————————————————————————————————————————————————————
*/
.wide {
  max-width: 810px;
}
.slim {
  max-width: 680px;
}
.plus {
  max-width: 500px;
}
.half {
  max-width: 360px;
}
.smol {
  max-width: 250px;
}
.tiny {
  max-width: 180px;
}
