---
title: Display Type
layout: book
cover: disp-head.png
sections: 
  - Logotype
  - Aktivo
  - Hans
  - Magescule
  - Neurune
theme: umbral
accent: orange
---

<link rel="stylesheet" href="styles/nav/work.css" type="text/css" media="all" />

<style>
    @media (max-width: 1259px) {
    nav {
      background: var(--x0);
    }
  }
</style>
{% include accent.html %}

{% include cover.html %}

{% include simple-toc.html %}

<main>
  <figure id="logotype">
    <img src="/images/logotype-jeremybanka.png" data-action="scrollpoint" />
  </figure>
  <figure id="mishko"><img src="/images/logotype-mishko.png" /></figure>
  <figure id="wldmnd"><img src="/images/logotype-wldmnd.png" /></figure>
  <figure id="mortal"><img src="/images/disp-mortal.png" /></figure>
  <figure id="fastly"><img src="/images/logotype-fastly.png" /></figure>
  <figure id="wayfarer"><img src="/images/display-type/wayfarer.png" /></figure>
  <figure id="ablyss"><img src="/images/display-type/ablyss.png" /></figure>
  <figure id="tlon"><img src="/images/display-type/tlon.png" /></figure>
  <figure id="lingos"><img src="/images/display-type/lingos.png" /></figure>
  <figure id="humanity"><img src="/images/display-type/humanity.png" /></figure>
  <figure id="1000"><img src="/images/display-type/1000.png" /></figure>
  <br />
  <br />

  <figure id="aktivo" data-action="scrollpoint">
    <img src="/images/disp-aktivo.png" />
  </figure>
  <section style="background:#788c96">
    <h2 class="brahmin" style="color:#00324b">An Energetic Poster Font</h2>
    <img src="/images/disp-aktivo-heavy.png" alt="" />
    <img src="/images/disp-aktivo-light.png" alt="" />
    <figure><img src="/images/disp-aktivo-full.png" alt="" /></figure>
  </section>

  <figure id="hans" data-action="scrollpoint">
    <img src="/images/disp-hans.png" />
  </figure>
  <section style="background:#0096e1">
    <h2 class="brahmin" style="color:white">A Smooth Geometric Script</h2>

    <img src="/images/disp-hans-full.png" alt="" />
  </section>

  <figure id="magescule" data-action="scrollpoint">
    <img src="/images/disp-magescule.png" />
  </figure>
  <section style="background:#5f5956">
    <h2 class="uruz" style="color:#d28c00">An Otherworldly Capital Set</h2>
    <img src="/images/disp-magescule-full.png" alt="" />
  </section>

  <figure id="neurune" data-action="scrollpoint">
    <img src="/images/disp-neurune.png" />
  </figure>
  <section style="background:#ebebeb">
    <h2 class="xeno" style="color:#afa9a6">An Ultraminimalist Geometric</h2>
    <img src="/images/disp-neurune-wide.png" alt="" />
    <figure><img src="/images/disp-neurune-animation.gif" alt="" /></figure>
  </section>
</main>

<script src="/scripts/table-of-contents.js"></script>
