---
title: Imagery
layout: book
cover: imagery-cover.png
sections: 
  - Vectorcolors
  - Fokuso
  - Beside Ourselves
  - Abstractions
  - Steel
theme: umbral
accent: violet
---

<link rel="stylesheet" href="styles/nav/work.css" type="text/css" media="all" />
<link rel="stylesheet" href="/styles/ergata.css" />

<style custom>
  #top {display:none}
</style>

{% include simple-toc.html %}


<main>
  <section id="vectorcolors">
    {% include 
    strip.html 
    one="art/bowie.png"
    two="art/cream.png"
    three="art/wayfarers.png"
    four="art/willem.png"
    %}
    {% include 
    strip.html 
    one="art/ambiguous.png"
    two="art/reversible.png"
    three="art/stable.png"
    %}
    {% include 
    strip.html 
    one="art/1-beside-ourselves.jpg"
    two="art/2-mama.jpg"
    three="art/3-towards.jpg"
    four="art/4-composition.jpg"
    five="art/5-twinge.jpg"
    %}
  </section>


</main>

<script src="/scripts/table-of-contents.js"></script>
<script src="/scripts/image-strip.js"></script>
