---
title: Imagery
layout: book
cover: imagery-cover.png
sections: 
  - Vectorcolors
  - Fokuso
  - Beside Ourselves
  - Abstractions
  - Steel
theme: umbral
accent: violet
---

<link rel="stylesheet" href="styles/nav/work.css" type="text/css" media="all" />
<link rel="stylesheet" href="/styles/ergata.css" />

<style custom>
  #top {display:none}
</style>

<main>
  <section>
    {% include 
    strip.html 
      name="vectorcolors"
      one="art/willem.png"
      two="art/cream.png"
      three="art/bowie-red.png"
    %}


    {% include 
    strip.html 
      name="fokuso"
      one="art/neogothic-o.jpg"
      two="art/neogothic-s.jpg"
      three="art/neogothic-c.jpg"
    %}
    {% include 
    strip.html 
      one="art/talhertz.jpg"
    %}
    {% include 
    strip.html 
      name="fokuso"
      one="art/Mile-1.jpg"
      two="art/Mile-2.jpg"
      three="art/Mile-3.jpg"
      four="art/Mile-4.jpg"
      five="art/Mile-5.jpg"
      six="art/Mile-6.jpg"
      seven="art/Mile-7.jpg"
      eight="art/Mile-8.jpg"
      nine="art/Mile-9.jpg"
      ten="art/Mile-10.jpg"
    %}
    {% include 
    strip.html 
      name="photos"
      one="art/ambiguous.png"
      two="art/reversible.png"
      three="art/stable.png"
    %}
  </section>


</main>

<script src="/scripts/table-of-contents.js"></script>
<script src="/scripts/image-strip.js"></script>
