---
title: Menu
layout: book
cover: imagery-cover.png
sections: 
  - Overview
  - Description
  - Samples
theme: crimson
accent: violet
---

<link rel="stylesheet" href="styles/nav/work.css" type="text/css" media="all" />
<link rel="stylesheet" href="/styles/ergata.css" />

<style custom>
  #top {display:none}
</style>

{% include simple-toc.html %}


<main>
  <section>
    {% include 
    strip.html 
      name="overview"
      one="menu/menu.png"
    %}

    {% include 
    strip.html 
      name="description"
      one="menu/menu2.png"
      two="menu/menu3.png"
      three="menu/menu4.png"
      four="menu/menu5.png"
      five="menu/menu6.png"
    %}
  
    {% include 
    strip.html 
      name="samples"
      one="menu/menu-final_Page_01.png"
      two="menu/menu-final_Page_02.png"
      three="menu/menu-final_Page_03.png"
      four="menu/menu-final_Page_04.png"
      five="menu/menu-final_Page_05.png"
      six="menu/menu-final_Page_06.png"
      seven="menu/menu-final_Page_07.png"
    %}
    {% include 
    strip.html
      one="menu/menu-final_Page_08.png"
      two="menu/menu-final_Page_09.png"
      three="menu/menu-final_Page_10.png"
      four="menu/menu-final_Page_11.png"
      five="menu/menu-final_Page_12.png"
      six="menu/menu-final_Page_13.png"
      seven="menu/menu-final_Page_14.png"
      eight="menu/menu-final_Page_15.png"
    %}
    {% include 
    strip.html 
      one="menu/menu-final_Page_16.png"
      two="menu/menu-final_Page_17.png"
      three="menu/menu-final_Page_18.png"
      four="menu/menu-final_Page_19.png"
      five="menu/menu-final_Page_20.png"
      six="menu/menu-final_Page_21.png"
      seven="menu/menu-final_Page_22.png"
      eight="menu/menu-final_Page_23.png"
      nine="menu/menu-final_Page_24.png"
      ten="menu/menu-final_Page_25.png"
    %}
  </section>


</main>

<script src="/scripts/table-of-contents.js"></script>
<script src="/scripts/image-strip.js"></script>
