---
title: Presentations
layout: book
cover: pres-head.png
sections: 
  - My Stuff
  - OSU Capstone
  - Infographics
accent: dark
theme: umbral
---

<link rel="stylesheet" href="styles/nav/work.css" type="text/css" media="all" />
<link rel="stylesheet" href="/styles/ergata.css" />

<style custom>
section {
  background: none
}
</style>

{% include accent.html %}
{% include cover.html %}
{% include simple-toc.html %}

<main>
  <section>
    <h1 id="my-stuff">My Stuff</h1>

    {% include 
    strip.html 
      name="my-stuff"
      a="myshit_Page_1.png"
      b="myshit_Page_3.png"
    %}
    
    <br style="clear:both">
    <h1 id="osu-capstone">OSU Capstone</h1>

    {% include 
    strip.html 
      a="pres-capstone_Page_01.png"
      b="pres-capstone_Page_02.png"
    %}
    {% include 
    strip.html 
      a="pres-capstone_Page_04.png"
      b="pres-capstone_Page_05.png"
      c="pres-capstone_Page_09.png"
      d="pres-capstone_Page_14.png"
    %}
    {% include 
    strip.html 
      c="pres-capstone_Page_15.png"
      d="pres-capstone_Page_16.png"
      e="pres-capstone_Page_17.png"
    %}
    {% include 
    strip.html 
      a="pres-capstone_Page_18.png"
      b="pres-capstone_Page_19.png"
      c="pres-capstone_Page_20.png"
      d="pres-capstone_Page_21.png"
      e="pres-capstone_Page_22.png"
    %}
    {% include 
    strip.html 
      a="pres-capstone_Page_23.png"
      b="pres-capstone_Page_24.png"

    %}
    {% include 
    strip.html 
      a="pres-capstone_Page_26.png"
      b="pres-capstone_Page_27.png"
      c="pres-capstone_Page_28.png"
      d="pres-capstone_Page_29.png"
      e="pres-capstone_Page_32.png"
      g="pres-capstone_Page_36.png"
    %}
    {% include 
    strip.html
      e="pres-capstone_Page_33.png"
      f="pres-capstone_Page_34.png"
      g="pres-capstone_Page_35.png"
    %}
    {% include 
    strip.html 
      a="pres-capstone_Page_39.png"
      b="pres-capstone_Page_40.png"
    %}
    {% include 
    strip.html 
      a="pres-capstone_Page_41.png"
      b="pres-capstone_Page_42.png"
      c="pres-capstone_Page_43.png"
      d="pres-capstone_Page_44.png"
    %}
    {% include 
    strip.html 
      a="pres-capstone_Page_45.png"
      d="pres-capstone_Page_48.png"
    %}

    <br style="clear:both">
    <h1 id="infographics">Infographics</h1>
    
    {% include 
    strip.html 
      a="info-honors.png"
      b="info-foodcolor.png"
    %}
  </section>


</main>

<script src="/scripts/table-of-contents.js"></script>
<script src="/scripts/image-strip.js"></script>
