---
title: Presentations
layout: book
cover: pres-head.png
sections: 
  - Encounter Manual
  - Cards
  - Sound and Vision
  - Type Specimen
  - Extras
theme: graphite
accent: dark
---

<link rel="stylesheet" href="styles/nav/work.css" type="text/css" media="all" />
<link rel="stylesheet" href="/styles/ergata.css" />

<style custom>
:root {
  --y121: #afac8e
}
section {
  background: none
}
</style>

{% include accent.html %}
{% include simple-toc.html %}

<main>
  <section>
    {% include 
    strip.html 
      name="thesis"
      a="w-wayfarer.png"
    %}
    {% include 
    strip.html 
      name="thesis"
      a="w-thesis-poster.png"
    %}

    {% include 
    strip.html 
      a="w-thesis-01.jpg"
      b="w-thesis-02.jpg"
      c="w-thesis-03.jpg"
    %}
    {% include 
    strip.html
      a="w-thesis-04.jpg"
      b="w-thesis-05.jpg"
    %}
    {% include 
    strip.html
      name="encounter-manual"
      c="w-thesis-06.jpg"
    %}
    {% include 
    strip.html
      d="w-thesis-07.jpg"
      e="w-thesis-08.jpg"
    %}
    {% include 
    strip.html 
      a="w-thesis-09.jpg"
      b="w-thesis-10.jpg"
      c="w-thesis-11.jpg"
    %}
    {% include 
    strip.html 
      a="w-thesis-12.jpg"
      b="w-thesis-13.jpg"
      c="w-thesis-15.jpg"
      d="w-thesis-16.jpg"
    %}  
    {% include 
    strip.html 
      a="w-thesis-17.jpg"
      b="w-thesis-18.jpg"
      c="w-thesis-19.jpg"
      d="w-thesis-20.jpg"
    %}  
    {% include 
    strip.html 
      a="w-thesis-21.jpg"
      b="w-thesis-22.jpg"
      c="w-thesis-23.jpg"
      d="w-thesis-24.jpg"
    %}  
    {% include 
    strip.html 
      a="w-thesis-26.jpg"
      b="w-thesis-27.jpg"
      c="w-thesis-28.jpg"
    %}  
    {% include 
    strip.html 
      a="w-thesis-29.jpg"
      b="w-thesis-30.jpg"
      c="w-thesis-31.jpg"
      d="w-thesis-32.jpg"
      e="w-thesis-33.jpg"
    %} 
    {% include 
    strip.html 
    name="cards"
      a="w-thesis-34.jpg"
    %} 
    {% include 
    strip.html 
      b="w-thesis-35.jpg"
      c="w-thesis-36.jpg"
      d="w-thesis-37.jpg"
    %} 
    {% include 
    strip.html 
      a="w-thesis-38.jpg"
      b="w-thesis-39.jpg"
      c="w-thesis-40.jpg"
    %}
    {% include 
    strip.html 
      a="w-thesis-41.jpg"
      b="w-thesis-42.jpg"
      c="w-thesis-43.jpg"
    %}
    {% include 
    strip.html 
      a="w-thesis-44.jpg"
      b="w-thesis-45.jpg"
      c="w-thesis-46.jpg"
    %}
    {% include 
    strip.html 
      a="w-thesis-47.jpg"
      b="w-thesis-48.jpg"
      c="w-thesis-49.jpg"
    %}
        {% include 
    strip.html 
      a="w-thesis-50.jpg"
      b="w-thesis-51.jpg"
      c="w-thesis-52.jpg"
    %}
    {% include 
    strip.html 
      name="sound-and-vision"
      a="w-thesis-53.jpg"
    %}
    {% include 
    strip.html 
      a="w-thesis-56.jpg"
      b="w-thesis-57.jpg"
      c="w-thesis-58.jpg"
    %}
    {% include 
    strip.html 
      a="w-thesis-59.jpg"
      b="w-thesis-60.jpg"
      c="w-thesis-61.jpg"
    %}
    {% include 
    strip.html 
      a="w-thesis-62.jpg"
      b="w-thesis-63.jpg"
      c="w-thesis-64.jpg"
    %}
    {% include 
    strip.html 
      name="type-specimen"
      a="w-thesis-65.jpg"
    %}
    {% include 
    strip.html 
      b="w-thesis-66.jpg"
      c="w-thesis-67.jpg"
    %}
    {% include 
    strip.html 
      a="w-thesis-66.jpg"
      b="w-thesis-67.jpg"
      c="w-thesis-68.jpg"
    %}
    {% include 
    strip.html 
      a="w-thesis-69.jpg"
      b="w-thesis-70.jpg"
      c="w-thesis-71.jpg"
    %}
    {% include 
    strip.html 
      a="w-thesis-72.jpg"
      b="w-thesis-73.jpg"
      c="w-thesis-74.jpg"
    %}
    {% include 
    strip.html 
      a="w-thesis-75.jpg"
      b="w-thesis-76.jpg"
      c="w-thesis-77.jpg"
    %}
    {% include 
    strip.html
      name="extras"
      a="w-delve-playtest.png"
      b="w-qsg-1.png"
      c="w-qsg-2.png"
    %}
    </section>

</main>

<script src="/scripts/table-of-contents.js"></script>
<script src="/scripts/image-strip.js"></script>
