<title>{{ page.title }}</title> <link rel="icon" href="/images/favicon.png" />
<link rel="mask-icon" href="/images/mask-icon.svg" color="#888" />
<link rel="apple-touch-icon" href="/images/touch.png" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130237523-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130237523-1');
</script>

<meta id="vp" name="viewport" content="width=420" />
<!-- if touch, set to 420 -->

<script>
  window.onload = function() {
    if (screen.width > 420) {
      var mvp = document.getElementById("vp");
      mvp.setAttribute("content", "width=device-width");
    }
  };
</script>
<!-- if you're bigger than 420, use that -->

<!-- General Styles -->
<link rel="stylesheet" href="/styles/font.css" />
<link rel="stylesheet" href="/styles/core.css" />
<link rel="stylesheet" href="/styles/view.css" />
<link rel="stylesheet" href="/styles/link.css" />
<link rel="stylesheet" href="/styles/zoom.css" />
<link rel="stylesheet" href="/styles/themes/{{ page.theme }}.css" />
<style head>
{% if page.accent %}
  :root {
    --z: {{ page.accent }};
    --x0:var(--color1{{ page.accent }})
    --x:var(--color2{{ page.accent }})
  }
{% endif %}
</style>

<script src="/scripts/zoom.js"></script>
<script src="/scripts/transition.js"></script>

<!-- Twitter cards -->
<meta name="twitter:site" content="@{{ site.twitter_username }}" />
<meta name="twitter:creator" content="@{{ site.author }}" />
<meta name="twitter:title" content="{{ page.title }}" />

{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}" /> {% else %}
<meta name="twitter:description" content="{{ site.description }}" /> {% endif %}
{% if page.image %} <meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ site.url }}{{ page.image }}" /> {% else
%} <meta name="twitter:card" content="summary" />
<meta name="twitter:image" content="{{ site.url }}{{ site.title_image }}" /> {%
endif %}

<!-- OpenGraph cards -->
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ page.url }}" />
<meta property="og:image" content="{{ page.image }}" />
<meta property="og:description" content="{{ page.description }}" />
