<title>{{ page.title }}</title>
<link rel="icon" href="/images/jem_favicon.png">
<link rel="apple-touch-icon" href="/images/jem_touch-icon.png">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!-- General Styles -->
<link rel="stylesheet" href="/styles/webfonts.css" type="text/css" media="all">
<link rel="stylesheet" href="/styles/links.css" type="text/css" media="all">
<link rel="stylesheet" href="/styles/typography.css" type="text/css" media="all">
<link rel="stylesheet" href="/styles/structure.css" type="text/css" media="all">

<!-- Phone Compatible 
<meta name="viewport" content="width=420">-->
<meta id="vp" name="viewport" content="width=device-width, initial-scale=1">

<script>
window.onload = function() {
    if (screen.width < 420) {
        var mvp = document.getElementById('vp');
        mvp.setAttribute('content','width=420');
    }
}
</script>
<!-- Tablet Compatible 
<script type="text/javascript">
    var vpw = (screen.width>=768)?'980':'device-width';
    document.write('<meta name="viewport" content="width='+vpw+'" >');
</script>-->

<!-- Twitter cards -->
<meta name="twitter:site"    content="@{{ site.twitter_username }}">
<meta name="twitter:creator" content="@{{ site.author }}">
<meta name="twitter:title"   content="{{ page.title }}">

{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}

{% if page.image %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
{% else %}
<meta name="twitter:card"  content="summary">
<meta name="twitter:image" content="{{ site.url }}{{ site.title_image }}">
{% endif %}
<!-- end of Twitter cards -->

<!-- OpenGraph cards -->
	<meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:image" content="{{ page.image }}" />
    <meta property="og:description" content="{{ page.description }}" />
