<figure class="max imagestrip">
  {% if include.one != null %}
    <img src="/images/{{ include.one }}" data-action="zoom" />
  {% endif %}
  {% if include.two != null %}
  <img src="/images/{{ include.two }}" data-action="zoom" />
  {% endif %}
  {% if include.three != null %}
    <img src="/images/{{ include.three }}" data-action="zoom" />
  {% endif %}
  {% if include.four != null %}
    <img src="/images/{{ include.four }}" data-action="zoom" />
  {% endif %}
  {% if include.five != null %}
    <img src="/images/{{ include.five }}" data-action="zoom" />
  {% endif %}
</figure>