/* NEUTRAL IS A LIGHT BOLD BLACK AND WHITE THEME */
:root {
  --a: white;
  --b: black;

  --x: #000; /* link the quick brown fox jumps over the lazy dog*/
  --x0: #deb900;
  --x00: #f6cd00;
  --x1: #eee;
  --x10: #f7f7f7;
  --x110: #e6e6e6;
  --x11: #ddd;
  --x111: #d7d7d7;
  --x120: #d3d3d3;
  --x12: #ccc;
  --x121: #c4c4c4;
  --x13: #bbb;
  --x2: #aaa;
  --x3: #666; /* text */
  --x4: #333; /* header */

  --y: black;
  --y0: #111;
  --y1: #eee; /* #left */
  --y10: #f7f7f7; /* section */
  --y110: #e6e6e6;
  --y11: #ddd; /* html */
  --y111: #d7d7d7;
  --y120: #d3d3d3;
  --y12: #ccc;
  --y121: #f6cd00; /* toc link flare */
  --y13: #bbb;
  --y2: #aaa;
  --y3: #666;
  --y4: #333;

  --z: #666; /* hr */
  --z0: #ff5a27;
}
