/* ff5a27
BEHIND--------------------------------
*/
html {
  background: #def;
}
section {
  background: #ffe;
}
nav {
  background: #ccddf0;
}
.toc-wrap {
  background: #ccddf0;
  border-right: solid 3px #bbd4e8;
}
@media (min-width: 920px) {
  .logo:hover span,
  .logo:focus span {
    color: #def;
  }
}
/* 
TEXT-----------------------------
*/
nav *,
.logo *,
h1,
h2,
h3,
p,
li {
  color: #404;
}
h2 {
  color: black;
}
/*
FLARE-----------------------------------
*/
/* link color sweep */
a:before {
  background: #08c;
}

/* link underline */
p > a {
  box-shadow: inset 0 -2px 0 #08c;
}

/* left padding for links */
@media (min-width: 920px) {
  p > a:hover,
  p > a:focus {
    box-shadow: -3px 0 0 #08c;
  }
}
/*
SUBTLE---------------------------------
*/
hr {
  background: #aaa;
}

aside,
figcaption {
  color: #aaa;
}
aside {
  border-left: solid 3px #aaa;
}

/* 
PANEL-----------------------------------
*/

.panel {
  background: #f9f9f9;
}

.pure {
  background: #e4f0ff;
}

.dark {
  background: #cde;
}
.dark .icon {
  color: #d6eaff;
}

.red {
  background: #d4e5f6;
}
.red .icon {
  color: #c0d2e4;
}

.blue {
  background: #ddeef8;
}
.blue .icon {
  color: #cde;
}

.amber {
  background: #d0d0d0;
}
.amber .icon {
  color: #bbb;
}

.violet {
  background: #cce5ff;
}
.violet .icon {
  color: #b6b6b6;
}

.aqua {
  background: #d0d0d0;
}
.aqua .icon {
  color: #bbb;
}

.pink {
  background: #d0d0d0;
}
.pink .icon {
  color: #bbb;
}

.green {
  background: #c0c0c0;
}
.green .icon {
  color: #aaa;
}
