/* PAPER IS A LIGHT SUBTLE BLUE-ORANGE THEME */

:root {
  --a: white;
  --b: black;

  --x: #0088cc; /* link */
  --x0: #0096e1;
  --x00: #00a5f0;
  --x1: #e4e8ea;
  --x10: #f0f2f3;
  --x110: #d2dce1;
  --x11: #c9d3d8;
  --x111: #c3cdd2;
  --x120: #b9c9d1;
  --x12: #afbfc7;
  --x121: #a4b4bc;
  --x13: #96aab4;
  --x2: #788c96;
  --x3: #3c505a; /* text */
  --x4: #00324b; /* header */

  --y: #782800;
  --y0: #aa5a32;
  --y1: #ebe5e2; /* #left */
  --y10: #f5efec; /* section */
  --y110: #e1dbd8;
  --y11: #d7d1ce; /* html */
  --y111: #d2ccc9;
  --y120: #cdc7c4;
  --y12: #c1bbba;
  --y121: #b6b0ad;
  --y13: #afa9a6;
  --y2: #5f5956;
  --y3: #4b4542;
  --y4: #37312e;

  --z: #d28c00; /* hr */
}
