/* PAPER IS A LIGHT SUBTLE BLUE-ORANGE THEME */

:root {
  --a: black;
  --b: white;

  --y: #0088cc;
  --y0: #00a5f0;
  --y1: black;
  --y10: #f0f2f3;
  --y110: #d2dce1;
  --y11: #c9d3d8;
  --y111: #c3cdd2;
  --y120: #b9c9d1;
  --y12: #b4c4cc;
  --y121: #00324b;
  --y13: #96aab4;
  --y2: #788c96;
  --y3: #3c505a;
  --y4: #00324b;

  --x: #782800;
  --x0: #000000;
  --x1: #ebe5e2;
  --x10: #f5efec;
  --x110: #e1dbd8;
  --x11: #d7d1ce;
  --x111: #d2ccc9;
  --x120: #cdc7c4;
  --x12: #c3bdba;
  --x121: #b9b3b0;
  --x13: #afa9a6;
  --x2: #966e5a;
  --x3: #afa9a6;
  --x4: #3c1e0f;

  --z: #d28c00;
}
