/* TWILIGHT IS A DARK SUBTLE INDIGO THEME */

:root {
  --a: black;
  --b: white;

  --x: #ff8269; /* link */
  --x0: #060024;
  --x1: #060024;
  --x10: #0f005a;
  --x110: #140078;
  --x11: #190096;
  --x111: #1e00b4;
  --x120: #3214c8;
  --x12: #4628dc;
  --x121: #5032e6;
  --x13: #5032e6;
  --x2: #735af0;
  --x3: #b6b4c0; /* text */
  --x4: #5032e6; /* header */

  --y: #2800f0;
  --y0: #2800f0;
  --y00: #2800f0;
  --y1: #060024; /* #left */
  --y10: #070036; /* section */
  --y110: #0f005a;
  --y11: black; /* html */
  --y111: #2207a5;
  --y120: #270ab7;
  --y12: #2d0fc5;
  --y121: #00a5f0; /* toc link flare */
  --y13: #4426d8;
  --y2: #6148de;
  --y3: #8774e3;
  --y4: #a79be6;

  --z: #d28c00; /* hr */
}
