/* BRAND COLORS */

a:before {background: #34454E;}
a:hover {color: #EFE9BE;}

    /* background */
    html {background-color: #EFE9BE;} p {color: #34454E}
    
    /* text color */
    footer p {color: #86856E;}
    .tocbar {
        color: #34454E;
        background: #EFE9BE;
    }
    .tocbar a, .tocbar div {color: #34454E;}

    /* recolo */
    .tocbar:hover {
        background-color: #DAD5AF;
        color: black;
    }
    @media screen and (max-width: 920px) {
        .tocbar{
            background-color: #DAD5AF;
            }
    }
    .tocbar a:before {background-color: #34454E;}

    .tocbar a.icon {
        background-color: #000;
        color: #EFE9BE;
    }

/* BORDER */
    #top, #bottom, #left, #right {
        background: #34454E;
        position: fixed;
        z-index: 1;
        }
	#left, #right {
		top: 0; bottom: 0;
		width: 7px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 7px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
@media screen and (max-width: 920px) {
    #top, #bottom, #left, #right {
        background: #000;
    }
}

/* STRUCTURE */
.wrap {
	width: calc(100% - 28px);
}
    nav { 
        /* position: fixed; */
        height: 49px;
        width: 100%;
        z-index: 1;
        background: #C4C19F;
        padding: 0;
        padding-left: 36px;
        overflow: hidden;
        position: relative;
    } nav .stripbox { 
        float: left;
max-width: calc(100% - 49px); overflow-x: scroll;}
    .strip {
        width: 500px;
        height: 67px; 
    }
    nav .item { 
        font-weight: 500;
        margin-left: 18px;
        margin-top: 18px;
        padding: 0px 5px;
    }
    @media screen and (min-width: 840px) { 
        .wrap {padding-left: }
    }
    .W {
        float: left;
        height: 49px;
        width: 49px;
        background: #DAD5AF;
    } .W:before {background:white}
    .W img {
        width: 100%;
    }
    #cover {
        max-height: ;
        max-width: 100%;
        background: #C4C19F;
    } 
    #cover img {
        max-width: 500px;
        width: 100%;
        padding-top: 72px;
}
#cover h1 {
    font-weight: bold;
    text-align: left;
    color: #34454E;
    padding: 0 24px 18px;
}

/* ADVANCED NAVIGATION */
    /* Style the buttons that are used to open and close the accordion panel */
    .accordion {
        cursor: pointer;
        transition: 0.4s;
        overflow-x: visible;
    } .active, .accordion:hover {
        background-color: #DAD5AF;
    } .active:before { 
        display: none;
    } a.active:hover {color: #34454E;}


    /* Style the subdirectory panels */
    .panel {
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    /* Style the close button */
    .close {
        background-color: white;
        height: 36px;
        cursor: pointer;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        padding: 10px;
    } .close:hover {
        background-color: #86856E;
        color: #EFE9BE;
        transition: 0.4s;
    }

/* SCROLLBAR TEST 
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 18px;
}
::-webkit-scrollbar-thumb {
  background-color: #34454E;
}*/