* { font-family: Ymirsson; }

html {
	background-color: #4d4d4d;
}

.container > p {
	font-size: 21px;
	color: black;
	line-height: calc(3em / 2);
	margin-bottom: 35px;
}

h1 {
	color: black;
	font-family: Mage;
	font-weight: 800;
	margin: 40px auto 80px;
	font-size: 72px;
	line-height: 80px;
}

h2 {
	text-align: center;
	font-family: Antoinette;
	font-weight: 300;
	color: #999;
	margin: 40px auto 20px;
	font-size: 42px;
	letter-spacing: calc(0.2em);
}

p.ymirsson-display-1 {
	text-align-last: justify;
	color: #ff5a27;
	font-size: 4.5vw;
	letter-spacing: 0;
	line-height: calc(4em / 3);
	padding: 12px 0;
	overflow: hidden;
}

p.demo, p.demo > * {
	font-size: 30px;
}

.slant {
    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-10deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-10deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-10deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-10deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-10deg, 0deg);
}

.wrap > img { margin-top: 21px }

.img-wrap {
	width: 720px;
	position: relative;
	margin: 28px auto 0;
	overflow: hidden
}

.img-wrap > img {
	width: 100%;
	height: auto;
}

p.ymirsson-display-2, p.ymirsson-display-2 > * {
	color: #ff5a27; 
	font-size: 126px;
	line-height: 140px;
	height: 150px;
}

p.ymirsson-display-3 {
	color: #ff5a27;
	font-size: 36px;
	line-height: 72px;
	height: 54px;
}

p.ymirsson-display-4 {
	color: #088aa1;
	font-style: italic;
	font-size: 36px;
	line-height: 72px;
	height: 54px;
}