<!DOCTYPE html>
<html>

<head>
  {% seo %}
  {% include head.html %}
</head>

<body>
  <nav id="nav">
    <div class="nav-l">
      JEREMY BANKA DESIGN
    </div>
    <a href="/" class="logo">
      B
    </a>
    <ul class="nav-r">
      <li><a href="/" class="view-work"> WORK</a></li>
      <li><a href="/blog.html" class="view-blog"> BLOG</a></li>
      <li><a href="/about.html" class="view-about"> ABOUT</a></li>
    </ul>
  </nav>

  <div id="top"></div>
  <div id="bottom"></div>
  <div id="left"></div>
  <div id="right"></div>
  

  {{ content }}
  <br style="clear:both;">
  <footer>
    <p>&copy; 2018 Jeremy Banka</p>
  </footer>
</body>

</html>