<!DOCTYPE html>
<html>
	<head>
	    {% seo %}
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=420">
		<link rel="stylesheet" href="/styles/webfonts.css" type="text/css" media="all">
		<link rel="stylesheet" href="/styles/links.css" type="text/css" media="all">
		<link rel="stylesheet" href="/styles/typography.css" type="text/css" media="all">
		<link rel="stylesheet" href="/styles/structure.css" type="text/css" media="all">
		<link rel="icon" href="images/jem_favicon.png">
		<link rel="apple-touch-icon" href="images/jem_touch-icon.png">
		
	</head>
	<body>
		<nav id="nav">
			<div class="nav-left">
				<div>JEREMY BANKA DESIGN</div>
			</div>
			<a href="/index.html" class="logo">
				<img class="logo-1" src="/images/jem_4d.svg">
				<img class="logo-2" src="/images/jem_e5.svg">
			</a>
			<div class="nav-right">
				<ul>
					<li><a href="/index.html" class="view-work">WORK</a></li>
					<li><a href="/blog.html" class="view-blog">BLOG</a></li>
					<li><a href="/about.html" class="view-about">ABOUT</a></li>
				</ul>
			</div>
		</nav>
{{ content }}
        <br style="clear:both;">
		<footer>
			<p>&copy; 2018 Jeremy Banka. All rights reserved.</p>
		</footer>
	</body>
</html>