<!DOCTYPE html>
<html>
<head>	
    {% seo %}
    {% include head.html %}
    <link rel="stylesheet" href="/styles/extra/jquery.mCustomScrollbar.css" />
</head>
<body>
    <nav id="nav">
        <div class="wrap"><div class="container">
        <a href="" class="W"><img src="/images/wayfarer/W.png"></a>
        <div class="stripbox"><div class="strip">
        <a href="/wayfarer/guide.html" class="item">GUIDE</a>
        <a href="/wayfarer/guide.html" class="item">LORE</a>
        <a href="/wayfarer/guide.html" class="item">VANGUARD</a>
        <a href="/wayfarer/guide.html" class="item">ABOUT</a></div>
        </div></div></div>
        
    </nav>
{{ content }}
    <br style="clear:both;">
    <footer>
       <img src="/images/wayfarer/Tempest_Games.png" alt="">
        <p>&copy; 2018 Tempest Games. All rights reserved.</p>
    </footer>
</body>
</html>