<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=420">
		<link rel="stylesheet" href="/styles/webfonts.css" type="text/css" media="all">
		<link rel="stylesheet" href="/styles/manual/structure.css" type="text/css" media="all">
		<link rel="stylesheet" href="/styles/typography.css" type="text/css" media="all">
		<link rel="icon" href="/images/jem_favicon.png">
		<link rel="apple-touch-icon" href="images/jem_touch-icon.png">
        <script src=/scripts/manual-navigation.js></script>
	</head>
<body>
    <nav>
        <div class="navbar" id="myNavbar">
        <a href="#home">Home</a>
        
        <a class="dropdown">
                <button class="dropbtn">Reading Cards 
                  <i class="fa fa-caret-down"></i>
                </button>
                 <div class="dropdown-content">
                  <a href="#">Action Card</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
        </a>
        <a class="dropdown">
                <button class="dropbtn">Reading Cards 
                  <i class="fa fa-caret-down"></i>
                </button>
                 <div class="dropdown-content">
                  <a href="#">Action Card</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
        </a>
        <a href="javascript:void(0);" class="icon" onclick="mobileNav()">&#9776;</a>
        </div>
    </nav>
    <br style="clear:both;">
    <footer>
        <p>&copy; 2018 Jeremy Banka. All rights reserved.</p>
    </footer>
</body>
</html>