---
layout: default
---
<link rel="stylesheet" href="/styles/nav/blog.css" type="text/css" media="all">
<link rel="stylesheet" href="/styles/themes/paper.css" type="text/css" media="all">

<style>
    html,
    section {
        background: white;
    }
</style>

<header>
    <!-- <p>{{ page.date | date: '%B %d, %Y' }}</p> -->
    <h2>{{ page.title }}<span class="date">{{ page.date | date_to_string }}</span></h2>
</header>

<main>
    <hr>
    <section>
        {{ content }}
    </section>
    {% if page.previous.url %}
    <a class="slim panel block light rad24" href="{{page.previous.url}}">
        <p>previous post</p>
        <h3>{{ page.previous.title }}</h3>
    </a>
    {% endif %}
</main>