---
---

/* BASICS ------------------------------------------------
links  
--------------------------------------------------------- */
a {
  text-decoration: none;
  display: inline-block;
  vertical-align: bottom;
  transform: translateZ(0);
  backface-visibility: hidden;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
  main & {
    color: var(--b);
  }
  &:before {
    content: "";
    background: var(--x);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }
}
p a {
  box-shadow: inset 0 -2px 0 var(--x);
}
@media (min-width: 920px) {
  a {
    &:hover,
    &:focus,
    &:active {
      color: var(--a);
      &:before {
        transform: scaleX(1);
      }
    }
  }
  section a {
    &:hover,
    &:focus,
    &:active {
      box-shadow: -3px 0 0 var(--x);
      &:before {
        transform: scaleX(1.05);
      }
    }
  }
} /* PANELS ------------------------------------------------
large, rectangular links that house a central image or typographic 
icon and reveal information on hover.
the icons are typographic, and use a query to shrink
------------------------------------------------------------ */
.panel {
  background: var(--x111);
  margin: auto 20px;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-property: box-shadow, transform;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  * {
    color: var(--x13);
  }
  .icon {
    font-family: Logo;
    font-size: 180px;
    line-height: 1.13em;
    width: 100%;
    text-align: center;
    transition-property: color;
    transition-duration: 0.3s;
    z-index: 1;
  }
  &.brick {
    float: left;
    flex: 0 1 auto;
    width: calc(100% / 3);
    height: calc((100vw - 20px) / 3);
    max-height: 240px;
    position: relative;
    margin: 0;
    .properties {
      position: absolute;
      top: 10%;
      left: 10%;
      width: 80%;
      opacity: 0;
      z-index: 2;
      transition-property: opacity;
      transition-duration: 0.2s;
    }
  }
  &.post {
    display: block;
    padding: 20px;
    margin: 20px auto;
    position: relative;
    max-height: 300px;
    > * {
      width: 100%;
      max-width: none;
    }
    img {
      margin-top: 20px;
    }
  }
  &.block {
    display: flex;
    margin: 20px auto;
    min-height: 120px;
    max-height: 400px;
    img {
      width: 100%;
      margin-top: auto;
    }
    p,
    h2,
    h3 {
      position: absolute;
      z-index: 1;
      left: 20px;
    }
    p {
      top: 20px;
      margin: auto 0;
    }
    h2,
    h3 {
      top: 60px;
      margin: 0px;
      padding: 0px;
      line-height: 30px;
    }
    figure {
      padding: 0px 30px 15px 30px;
    }
  }
  &.light {
    background: var(--x10);
    .icon {
      color: var(--x12);
    }
  }
}
@media (max-width: 740px) {
  .brick .icon {
    font-size: calc((100vw - 20px) / 4);
  }
} /* CLICKABLE PANELS ---------------------------------------
they will use color y
------------------------------------------------------------ */
a.panel {
  background: var(--y110);
  * {
    color: var(--x3);
  }
  &:before {
    background: var(--y1);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    transition-property: transform;
    transition-duration: 0.3s;
    transform-origin: center;
  }
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0px 0px 4px var(--x);
    transform: scale(1.02);
    z-index: 2;
    * {
      color: var(--b);
    }
    &:before {
      transform: scale(2);
    }
  }
  &.brick:hover .properties {
    opacity: 1;
  }
  &.light {
    background: var(--y10);
    &:before {
      background: var(--a);
    }
  }
} /* COLOR CLUSTERS -------------------------------------------
This list of tuples anchors the bright palette of link colors to 
soft colors chosen by the the theme. A color tuple:
 1.name / 2.main-hover / 3.icon-hover / 4.main / 5.icon
-------------------------------------------------------------- */
$colors: ("blue" #08c #0079b9 "12" "121") ("aqua" #00d2af #00c0a0 "12" "121")
  ("orange" #aa5a32 #9b4b23 "120" "12") ("red" #960019 #a50f28 "12" "120")
  ("amber" #c90 #b80 "12" "121") ("canary" #d2af00 #deb900 "12" "120")
  ("indigo" #4628dc #3214c8 "120" "121") ("dark" black var(--x4) "120" "121")
  ("violet" #820096 #9600b4 "121" "12") ("crimson" #b22e29 #ee4035 "121" "12");
@each $tuple in $colors {
  /* LINKED SPECIAL PANELS -----------------------------------
  a > span: "B"
  ——————————————————————————————————————————————————————————— */
  a.#{nth($tuple, 1)} {
    &:before {
      background: nth($tuple, 2);
    }
    &.panel {
      background: var(--y#{nth($tuple, 4)});
      .icon {
        color: var(--y#{nth($tuple, 5)});
      }
      &:focus,
      &:hover,
      &:active {
        box-shadow: 0 0px 0px 4px nth($tuple, 3);
        background: nth($tuple, 3);
        * {
          color: white;
        }
        .icon {
          color: nth($tuple, 3);
        }
      }
    }
  }
}
@each $tuple in $colors {
  /* UNLINKED SPECIAL PANELS----------------------------------
  a > span: "B"
  ------------------------------------------------------------ */
  .panel {
    &.#{nth($tuple, 1)} {
      background: var(--x#{nth($tuple, 4)});
      .icon {
        color: var(--x#{nth($tuple, 5)});
      }
    }
  }
}

@each $tuple in $colors {
  /* PALETTE INDEX----------------------------------
  a > span: "B"
  ------------------------------------------------------------ */
  :root {
    --color1#{nth($tuple, 1)}: #{nth($tuple, 2)};
    --color2#{nth($tuple, 1)}: #{nth($tuple, 3)};
  }
}
