/* brick structure */
.brick {
    flex: 0 1 auto;
	float: left;
	width: calc(100% / 3);
	position: relative;
	color: white; */
}

/* block structure */
.block {
	float: left;
	width: calc(100%);
	position: relative;
    background-color: #b8b8b8;
	color: white;
	margin-bottom: 20px;
}

.block > img {width: 100%}
.block > p {padding: 15px 30px 0px 30px}
.block > h3 {padding: 0px 30px 15px 30px}

/* grey glyph */
.thumb-1 {
	display: block;
	opacity: 1;
	/*-webkit-transition-property: visibility;*/
	transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}	

.brick:hover > .thumb-1, .brick:focus > .thumb-1 { opacity: 0; }
.block:hover > .thumb-1, .block:focus > .thumb-1 { opacity: 0; }

/* color glyph */
.thumb-2 {
	position: absolute;
	top: 0;
	opacity: 0;
	-webkit-transition-property: visibility;
	transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}	

.brick:hover > .thumb-2, .brick:focus > .thumb-2 { opacity: 1; }
.block:hover > .thumb-2, .block:focus > .thumb-2 { opacity: 1; }

/* properties */
.properties {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	opacity: 0;
	z-index: 2;
	-webkit-transition-property: visibility;
	transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}	.brick:hover > .properties { opacity: 1; }

/* basic link properties */
a { 
	color: black;
	text-decoration: none;
	display: inline-block;
	vertical-align: bottom;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	/*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

/* links in text */
p > a:after { /* adds red deg */
	content: "\b0";
	padding-right: 1px; /* cuts off otherwise*/
	color: #ff5a27;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

a:hover, a:focus, a:active { color: white }

a:hover:after, a:focus:after, a:active:after { color: white }

/* sweep (collapsed) */
a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff5a27;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
} 

/* extend sweep */
a:hover:before, a:focus:before, a:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.grey { 
	color: #4d4d4d;
    background:white; 
	border: 0px solid black;
}
.grey:hover, .grey:focus {
	/* border: 3px solid #4d4d4d;*/
}
.grey:hover > *, .grey:focus > * { 
	color: white; 
	padding-right: 0;}
.grey:hover > .rule, .grey:focus > .rule {
	background: #4d4d4d;
}
.grey:before { background: #4d4d4d }
.grey:after { content: ""}

.teal { background: #9a9a9a; }
.teal:before { background: #11ddaa; }

.brown { background: #a7a7a7; }
.brown:before { background: #ddaa00; }

.pink { background: #b8b8b8; }
.pink:before { background: #ff6699; }

.navy { background: #c9c9c9; }
.navy:before { background: #2255ff; }

.cyan { background: #dbdbdb; }
.cyan:before { background: #11ddff; }