/*
BASICS————————————————————————————————————————————————————————————————
common link properties */
a { 
	color: black;
	text-decoration: none;
	display: inline-block;
	vertical-align: bottom;
	transform: translateZ(0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	transition-property: color;
	transition-duration: 0.2s;
}
/* sweep (collapsed) */
a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
} 
@media (min-width:920px) {
    /* turn white and extend sweep */
    a:hover, a:focus, a:active { color: white }
    a:hover:before, a:focus:before { transform: scaleX(1) }
    /* in the main, overshoot the reach */
    section a:hover:before, section a:focus:before, section a:active:before {
        transform: scaleX(1.05);
    }
}
/*
PANELS———————————————————————————————————————————————————————————————
big fancy links have a different treatment */

.panel {
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-property: box-shadow, transform;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
}
.panel:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    transition-property: transform;
    transition-duration: 0.3s;
    transform-origin: center;
}
.panel:hover, .panel:focus, .panel:active { 
    transform: scale(1.02);
    z-index: 2;
}
.panel:hover:before, .panel:focus:before { transform: scale(2) }

.panel:hover > .icon { color:  }

.brick:hover .properties { opacity: 1 }


/* themed panels */
.neutral:hover, .neutral:focus { box-shadow: 0 0px 0px 4px #08C; }
.neutral:hover *, .neutral:focus * { color: white; }
.neutral:before { background: #444; }

.pure:hover, .pure:focus { box-shadow: 0 0px 0px 4px #08C; }
.pure:hover *, .pure:focus * { color: black }
.pure:before { background: white }

.red:hover, .red:focus { 
    box-shadow: 0 0px 0px 4px #c30; 
    background: #c30; }
.red:hover *, .red:focus * { color: white }
.red:hover .icon, .red:focus .icon { color: #d83800 }
.red:before { background: #e40 }

.blue:hover, .blue:focus { 
    box-shadow: 0 0px 0px 4px #07B; 
    background: #07B; }
.blue:hover *, .blue:focus * { color: white }
.blue:hover .icon, .blue:focus .icon { color: #0079b9 }
.blue:before { background: #08C }

.amber:hover, .amber:focus { 
    box-shadow: 0 0px 0px 4px #a70; 
    background: #a70; }
.amber:hover *, .amber:focus * { color: white }
.amber:hover .icon, .amber:focus .icon { color: #b80 }
.amber:before { background: #c90 }

.violet:hover, .violet:focus { 
    box-shadow: 0 0px 0px 4px #50c; 
    background: #60d    ; }
.violet:hover *, .violet:focus * { color: white }
.violet:hover .icon, .violet:focus .icon { color: #60d }
.violet:before { background: #80f }

.aqua:hover *, .aqua:focus * { color: white }
.aqua:hover .icon, .aqua:focus .icon { color: #0ba }
.aqua:before { background: #0cb }
.aqua:hover, .aqua:focus { 
    box-shadow: 0 0px 0px 4px #0a9; 
    background: #0a9; }

.pink:hover *, .pink:focus * { color: white }
.pink:hover .icon, .pink:focus .icon { color: #e59 }
.pink:before { background: #f6a }
.pink:hover, .pink:focus { 
    box-shadow: 0 0px 0px 4px #e59; 
    background: #e59; }

.green:hover *, .green:focus * { color: white }
.green:hover .icon, .green:focus .icon { color: #0c0 }
.green:before { background: #0d0 }
.green:hover, .green:focus { 
    box-shadow: 0 0px 0px 4px #0b0; 
    background: #0b0; }

.dark:hover, .dark:focus { 
    box-shadow: 0 0px 0px 4px #fff; 
    background: #fff; }
.dark:hover *, .dark:focus * { color: white }
.dark:hover .icon, .dark:focus .icon { color: #222 }
.dark:before { background: #000 }

/****************************
 ***********LEGACY***********
 ****************************/

.teal { background: #9a9a9a; }
.teal:before { background: #1da; }

.brown { background: #a7a7a7; }
.brown:before { background: #da0; }

.old-pink { background: #b8b8b8; }
.old-pink:before { background: #f69; }

.navy { background: #c9c9c9; }
.navy:before { background: #2255ff; }

.cyan { background: #dbdbdb; }
.cyan:before { background: #11ddff; }


.brick:hover > .thumb-1, .brick:focus > .thumb-1 { opacity: 0; }
.block:hover > .thumb-1, .block:focus > .thumb-1 { opacity: 0; }

.brick:hover > .thumb-2, .brick:focus > .thumb-2 { opacity: 1; }
.block:hover > .thumb-2, .block:focus > .thumb-2 { opacity: 1; }

.hvr-radial-out {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transform-origin: center;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}


/* links in text 
p > a:after { /* adds red deg !!! REPLACED BY UNDERLINE !!!
	content: "\b0";
	padding-right: 1px; /* cuts off otherwise
	color: #ff5a27;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.hvr-grow-shadow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform, color;
  transition-property: box-shadow, transform, color;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


*/