---
---

@font-face {
  font-family: BlueCanary;
  src: url("/fonts/BlueCanaryGX.ttf");
}

@keyframes dawn {
  from {
    font-variation-settings: "TIME" 1000;
  }
  to {
    font-variation-settings: "TIME" 0;
  }
}
@keyframes dusk {
  from {
    font-variation-settings: "TIME" 0;
  }
  to {
    font-variation-settings: "TIME" 1000;
  }
}

#lightswitch {
  cursor: pointer;
  font-family: BlueCanary;
  color: var(--x3);
  animation: dawn 0.6s;
  &.dark {
    animation: dusk 0.6s;
    font-variation-settings: "TIME" 1000;
  }
  &:hover {
    color: var(--b);
  }
  /*  &:active {
    color: var(--x);
  }*/

  &:before {
    display: none;
  }
}
