nav {
	padding: 30px;
	height: 108px;
	box-sizing: border-box;
    width: auto;
}


.nav-left {
	width: calc(50% - 26px);
	color: #4d4d4d;
	float: left;
	display: inline-block;
	text-align: right;
	padding-top: 9px;
	padding-right: 54px;
	box-sizing: border-box;
}


/* right navigation structure*/
.nav-right {
	width:  calc(50% - 26px);
	float: left;
	display: inline-block;
	padding-top: 9px;
	padding-left: 54px;
	box-sizing: border-box;
}

.nav-right > ul > li {
	display: inline-block;
	margin-right: 10px;
	list-style-type: none;
	color: #4d4d4d;
	/*letter-spacing: calc(0.1em / 3);
	-moz-font-feature-settings: 'smcp';
    -webkit-font-feature-settings: 'smcp';
    -ms-font-feature-settings: 'smcp';
    font-feature-settings: 'smcp'; */
}

/* gives nav type a little breathing room */
.nav-right > ul > li > a {
	padding: 0 3px;
}

/* hide left nav */
@media (orientation:portrait) {
    .nav-left {display:none;}
    .nav-right {
        width:290px; 
        padding-left: 24px;
    }
    .logo {margin-left: calc(50% - 176px)}
}

/* link wrapper for logo images */
.logo { 
	width: 52px;
	height: 52px;
	float: left
}

/* default logo */
.logo-1 { 
	width: 46px;
	float: left;
	display: inline-block;
	position: absolute;
	padding: 3px;
}

/* recolor logo */
.logo-2 {
	width: 46px;
	z-index: 1;
	float: left;
	display: inline-block;
	position: absolute;
	padding: 3px;
	opacity: 0;
	-webkit-transition-property: visibility;
	transition-property: opacity;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
}

.logo:hover > .logo-2, .logo:focus > .logo-2 { opacity: 1; }

/* me */
.mewrap {
	width: 700px;
    max-width: calc(100% - 20px);
	position: relative;
	background: #d0d0d0;
	height: 144px;
	overflow: hidden;
	text-align: right;
	margin: 0 auto 40px;
}

.mewrap p {
	font-family: Ymirsson;
    color: #a0a0a0;
	font-size: 2em;
	line-height: 152px;
	text-align: center
}

.me {
	float: right;
	width: 144px;
	margin-right: 32px;
}

.wrap {
    height: auto;
	width: calc(100% - 20px);
	position: relative;
	margin: auto;
}

.wrap > img { 
	margin-top: 21px;
	width: 100%;
	height: auto;
}

.img-wrap {
	width: 720px;
    max-width: calc(100% - 20px);
	position: relative;
    align-self: center;
	overflow: hidden;
	margin: 30px auto 0;
}

.img-wrap > img {
	width: 100%;
}

.img-strip {
    max-width: 720px;
	overflow-x: scroll;
    overflow-y: hidden;
	margin: 30px auto 0;
    height: 300px;
    text-align: center;
}

.img-strip > img {
	height: 100%;
    margin: auto;
    display: inline;
}

.break {
	position: relative;
	padding-bottom: 27px;
}

.container { 
	max-width: 630px;
	position: relative;
	margin: auto;
}

.page {
	position: relative;
    align-self: center;
    width: 700px;
	/* box-sizing: border-box;
	border: 3px solid #a0a0a0; */
	padding: 26px 0px 54px 0px; /* horizontal was 70 */
	margin-top: 60px; margin-left:;
}

.cut { 
	padding: 0 70px 32px;
	margin-top: 12px;	
	background: #d6d6d6;
}

.cut p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

/* button structure */
.button {
	width: 320px;
	display:block;position:relative;margin:auto;
	text-align: center;
	font-size: 34px;
	font-family: Talhertz;
	background: black;
	color: white;
	font-weight: bold;
}

footer { 
	max-width: 600px;
	height: 150px;
	position: relative;
	margin: auto;
}

footer > p {
	width: 100%;
	position: absolute;
	top: 45px;
}
