/*
GENERAL————————————————————————————————————————————————————
*/
* {
    font-family: Brahmin; /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    font-size: 20px;
    line-height: 1.5em;
    padding: 0;
	margin: 0;
}

.logo * {
    font-family: Logo;
    text-align: center;
    font-size: 36px;
    line-height: 1em;
}
/* 
NAVIGATION—————————————————————————————————————————————————
*/

nav * { /* navigation is always the same font */
	font-family: Brahmin;
}
nav {
	padding: 30px;
	height: 108px;
	box-sizing: border-box;
}
.nav-left {
	width: calc(50% - 26px);
	float: left;
	display: inline-block;
	text-align: right;
	padding-top: 9px;
	padding-right: 54px;
	box-sizing: border-box;
}
.nav-right {
	width:  calc(50% - 26px);
	float: left;
	display: inline-block;
	padding-top: 9px;
	padding-left: 54px;
	box-sizing: border-box;
}
.nav-right > ul > li {
	display: inline-block;
	margin-right: 10px;
	list-style-type: none;
}
.nav-right > ul > li > a {
	padding: 0 3px; /* widen link boxes */
} 
@media (orientation:portrait) { 
    .nav-left {
        display:none;
    }
    .nav-right {
        width:280px; 
        padding-left: 24px;
    }
    .logo {margin-left: calc(50% - 176px)}
}
/* 
LOGO———————————————————————————————————————————————————————
*/

    /* link wrapper for logo images */
    .logo { 
        width: 52px;
        height: 52px;
        float: left
    }

    /* default logo */
    .logo * { 
        width: 46px;
        float: left;
        display: inline-block;
        position: absolute;
        padding: 3px;
        transition-property: color;
        transition-duration: .2s;
    }

/* 
HEADER—————————————————————————————————————————————————————
*/
header > * {    
    margin: auto;
    width: calc(100%);
}
h1 { /* for major works */
    text-align: center;
    font-size: 40px;
    font-weight: 600; /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

}
h2 { /* for blog posts and section titles */
    max-width: 630px; 
    font-size: 30px;
    line-height: 40px;
    font-weight 700;/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}
h3 {
    font-size: 25px;
    line-height: 35px;
    font-weight: 400;/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    padding-top: 20px;
}
h4 {
    font-weight: 700;
    font-size: 21px
}
header p {
    font-size: 20px;
    max-width: 630px;
    font-weight: 400;/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}
header img {
    display: block;
    max-width: 810px;
    width: 100%;
    margin: 30px auto 0;
}
hr {
    height: 3px;
	width: 60px;
    margin: 45px auto 45px;
    border-width: 0px;
}
/* 
FOOTER—————————————————————————————————————————————————————
*/
footer { 
	max-width: 600px;
	height: 120px;
	position: relative;
    margin: auto;
}

footer p {
	position: relative;
    margin: auto;
	top: 20px;
    font-size: 17.5px; 
	text-align: center;

}
/* 
BODY———————————————————————————————————————————————————————
*/
main {padding-bottom: 30px;}
section {
    position: relative;
    padding-bottom: 20px;
}
section > *, section li {
    margin: auto;
    width: calc(100% - 20px);
    position: relative;
}
section h2, section h3, section h4, section p, section li {
    max-width: 630px; 
    margin-top: 20px;
    margin-bottom: 20px;
}
@media screen and (max-width: 700px) { 
    section ul, section ol {
        padding-left: 30px;
    }
}
section h2 {
    padding-top: 60px;
}
section p, section li {
    font-weight: 500;/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
} 

.indent { 
    padding-left: 45px;
    width: calc(100% - 65px)
}

aside {
    float: right;
    display: inline;
    width: calc(100vw / 4);
    max-width: 240px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    font-weight: 600;/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    font-size: 15px;
    line-height: 20px;
} 
aside a {
    font-weight: 600;/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    font-size: 15px;
    line-height: 20px;
}
section figure {
    max-width: 720px;
}
    figure img {
        width: 100%;
    }
    figcaption {
        font-weight: 600;/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
        padding-top: 10px;
        font-size: 17.5px;
        line-height: 30px;
        text-align: center;

    }

/* 
PANELS—————————————————————————————————————————————————————
*/
/* bricks are square elements that come in threes. */
.brick {
    flex: 0 1 auto;
	float: left;
	width: calc(100% / 3);
    height: calc((100vw - 20px) / 3);
    max-height: 240px;
	position: relative;
	color: white;
}
/* block panels fill the horizontal space */
.block {
    display: block;
    width: 100%;
    max-width: 720px;
    min-height: 100px;
    max-height: 300px;
    overflow: hidden;
	margin: auto;
    margin-bottom: 20px;
}
.block > img {width: 100%}
.block > p {
    padding: 15px 30px 0px 30px;
    margin: auto;
}
.block > h2, .block > h3, .block figure {padding: 0px 30px 15px 30px}

/* some panels house icons and reveal information on hover.
 the icons are typographic, and use a query to shrink */
.panel > .icon {
	font-family: Logo;
    position: inline;
    font-size: 180px;
    line-height: 1.13em;
    width: 100%;
    text-align: center;
	transition-property: color;
	transition-duration: 0.3s;
    z-index: 1;
}	
@media (max-width:740px) {
    .panel > .icon { font-size: calc( (100vw - 20px) / 4) }
}

/* properties */
.panel > .properties {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	opacity: 0;
	z-index: 2;
	transition-property: opacity;
	transition-duration: 0.2s;
}
/* 
MULTICOLUMN————————————————————————————————————————————————
*/
.column.tiny {
        margin: auto;
        position: relative;
        max-width: 180px;
        margin-top: 40px;
    }

@media (min-width: 600px) {
    .chunk {
        margin: auto;
        display: flex;
    } 

    .column {
        position: relative;
        flex-flow: row wrap;
        width: 100%;
    }
    .gutter {width: 20px}
    
    .wide { max-width: 810px }
    .slim { max-width: 680px }
    .half { max-width: 360px }
    .smol { max-width: 250px }
    .tiny { max-width: 120px }
    
    .column { 
        margin:auto;
    }
}
@media (min-width: 650px) and (max-width: 920px) {
    .right > * {     
        margin: auto;
        width: calc(100% - 20px);
        position: relative;
    }
}
/* 
EXTRAWIDE——————————————————————————————————————————————————
*/
@media (min-width:1260px) { 
    header, main { padding-left: 25%; }
    footer { padding-left: 25%; }
    html { padding-top: 30px}
    nav {
        position:fixed; 
        z-index: 2;
        padding-right: 0px;
        width: 380px;
    }
    .nav-left {
        display:none;
    }
    .nav-right {
        width:290px; 
        padding-left: 24px;
    }
    .toc-wrap {
        position: fixed;
        bottom: 0;
        height: 100%;
        width: 380px;
        background: #e4e4e4;
        border-right: solid 3px #ddd;
    }
} 

/****************************
************LEGACY***********
****************************/

/* me */
.mewrap {
	width: 700px;
    max-width: calc(100% - 20px);
	position: relative;
	background: #d0d0d0;
	height: 144px;
	overflow: hidden;
	text-align: right;
	margin: 0 auto 40px;
}

.mewrap p {
	font-family: Urun;
    color: #a0a0a0;
	font-size: 2em;
	line-height: 152px;
	text-align: center
}

.me {
	float: right;
	width: 144px;
	margin-right: 32px;
}

.wrap {
    height: auto;
	width: calc(100% - 20px);
	position: relative;
	margin: auto;
}

.wrap > img { 
	margin-top: 21px;
	width: 100%;
	height: auto;
}

.img-wrap {
	width: 720px;
    max-width: calc(100% - 20px);
	position: relative;
    align-self: center;
	overflow: hidden;
	margin: 30px auto 0;
}

.img-wrap > img {
	width: 100%;
}

.img-strip {
    max-width: 720px;
	overflow-x: scroll;
    overflow-y: hidden;
	margin: 30px auto 0;
    height: 300px;
    text-align: center;
}

.img-strip > img {
	height: 100%;
    margin: auto;
    display: inline;
}

.break {
	position: relative;
	padding-bottom: 27px;
}

.container { 
	max-width: 630px;
	position: relative;
	margin: auto;
}


/* button structure */
.button {
	width: 320px;
	display:block;position:relative;margin:auto;
	text-align: center;
	font-size: 34px;
	font-family: Brahmin;
	background: black;
	color: white;
	font-weight: bold;
}

/* grey glyph */
.thumb-1 {
	display: block;
	opacity: 1;
	/*-webkit-transition-property: visibility;*/
	transition-property: opacity;
	transition-duration: 0.2s;
}	
/* color glyph */
.thumb-2 {
	position: absolute;
	top: 0;
	opacity: 0;
	-webkit-transition-property: visibility;
	transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}	