/* Vertically align and float the TOC */
.toc-wrap {
    /*background-color: white;*/
    position: fixed;
    bottom: 0;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    width: 180px;
    padding-right: 20px;
}
.tocbar {overflow-y: hidden; width: 210px;}
/* OLD FORMULA 
.tocbar {
    color: #4d4d4d;
    position: fixed;
    bottom: 0;
    width: auto;
    height: auto;
    max-height: 80%;
    overflow-y: scroll;
    margin: margin: 0px calc(50%-126px) 0px calc(50%-126px);
    z-index: 1;
    /* box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
}*/



/* Style the links inside the navigation bar */
.tocbar a {
    font-weight: 500;
    float: center;
    display: block;
    color: #4d4d4d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    overflow: visible;
} 
.tocbar a:before { background: #4d4d4d; }

/* Add a green background color to the active link
.tocbar a.active {
    background-color: #4CAF50;
    color: white;
} */

/* Hide the link that should open and close the navbar on small screens. Remove the link highlight, and remove the hover color. */
.tocbar .icon {
    display: none;
} .tocbar .icon:before { background: none; }


/* When the screen is less than 920 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the navbar (.icon) */
@media screen and (max-width: 920px) {
    .toc-wrap { bottom: 0; width: calc(100% + 30px); height: auto;}
    .tocbar { background-color: white; width: 100%;}
    .tocbar a {display: none;}
    .tocbar a.icon {
        display: block;
        background-color: white;
        /*width: auto;*/
    }
}

/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 920px) { 
    .responsive a.icon {
    position: relative;
    bottom: 0;
    }
    .tocbar.responsive a {
    float: none;
    display: block;
    text-align: center;
    }
    .tocbar.responsive .dropdown {float: none;}
    .tocbar.responsive .dropdown-content {position: relative;}
    .tocbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: center;
    }
}
/* On large screens, nudge the central column right to make room for the tocbar.  */
@media screen and (min-width: 920px) { 
    section { padding-left: 120px;    
    }
    .tocbar .jump:hover {color:white;}
    /* Call out the TOC when browsing */
    .tocbar:hover {
        background-color: white;
        color: black;
    }
}
