---
---

/* BASE———————————————————————————————————————————————————————
the content sits on the bottom. 
——————————————————————————————————————————————————————————— */
.toc-wrap {
  /* background-color: white;  for testing */
  position: fixed;
  bottom: 0;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  overflow: hidden; /* Important! This will hide a rogue scrollbar. */
  width: 180px;
  padding-right: 20px; /* ? */
}
.tocbar {
  width: 210px; /* The 30px overflow is enough to stow the scrollbar. */
  overflow-y: hidden;
  transition: height 0.1s ease-out;
  a {
    /* position and structure */
    display: block;
    float: center;
    padding: 14px 16px;
    overflow: visible;
    transition: height 0.1s ease-in; /* type */
    text-align: center;
    font-size: 17px;
    font-weight: 500;
  }
  .icon {
    /* Hide the responsive toggle by default. */
    display: none;
  }
} /* ADVANCED———————————————————————————————————————————————————
Used in documents with subdirectories.
——————————————————————————————————————————————————————————— */
.accordion {
  /* Buttons that open panels */
  transition: height 0.1s ease-out;
}
.active {
  background-color: var(--y11);
}
.sub {
  /* Subdirectory panels */
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
}
.close {
  /* Close button */
  cursor: pointer;
  background-color: var(--y110);
  height: 36px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding: 6px;
  transition: height 0.1s ease-out; /* border-top: 3px solid #EFE9BE; */
}
@media screen and (min-width: 920px) {
  .accordion:hover {
    background-color: var(--y11);
  }
  .tocbar:hover .sub {
    background: #bbb;
  } /* !!!!!!!!!!!!!!!!!!!!!!!!! */
  .close:hover {
    background: var(--y121);
    color: white;
    transition: 0.2s;
  }
} /* NARROW SCREEN——————————————————————————————————————————————
Not enough room for the sidebar! 
——————————————————————————————————————————————————————————— */
@media screen and (max-width: 920px) {
  .toc-wrap {
    width: calc(100% + 30px);
    height: auto;
  }
  .tocbar {
    padding: 0;
    border-top: solid 3px #ddd;
    background-color: white;
    width: 100%;
    a {
      display: none;
      &.icon {
        display: block;
        background-color: white;
      }
    }
  }
  .responsive a {
    &.icon {
      position: relative;
      bottom: 0;
    }
    float: none;
    display: block;
    text-align: center;
  }
  .sub {
    background: var(--y120);
  }
} /* WIDE SCREEN————————————————————————————————————————————————
enough room for sidebar 
——————————————————————————————————————————————————————————— */
@media screen and (min-width: 920px) {
  /* Clear space on the left for the sidebar to fit. */
  main,
  footer {
    padding-left: 20vw;
  } /* Style ID links on hover */
  .jump:hover {
    color: white;
  }
  .active:hover {
    color: black;
  }
  .tocbar {
    a:before {
      background: var(--y121);
    }
    &:hover {
      background: white;
      color: black;
      .sub {
        background: var(--y120);
      }
    }
    &.blog {
      position: absolute;
    }
  } /* !!!!!!!!!!!!!!!!!!!!!!!!! */ /* Call out the TOC when browsing */
} /* EXTRAWIDE SCREEN———————————————————————————————————————————
enough room for side panel 
——————————————————————————————————————————————————————————— */
@media (min-width: 1260px) {
  main,
  footer {
    padding-left: 400px;
  }
  .toc-wrap {
    width: 360px;
  }
  .tocbar {
    width: 390px;
    a {
      transition: 0.2s;
    }
  }
  .jump:hover {
    color: black;
    background: var(--y121);
  }
  .tocbar:hover {
    background: none;
  }
} /* ***************************
************LEGACY***********
*************************** */ /* OLD FORMULA 
.tocbar {
    color: #4d4d4d;
    position: fixed;
    bottom: 0;
    width: auto;
    height: auto;
    max-height: 80%;
    overflow-y: scroll;
    margin: margin: 0px calc(50%-126px) 0px calc(50%-126px);
    z-index: 1;
    /* box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
} */ /* Add a green background color to the active link
.tocbar a.active {
    background-color: #4CAF50;
    color: white;
} */
