/* Directive */
@font-face {
    font-family: Directive;
    src: url('/type/Directive-Regular.woff') format("woff");
    font-weight:normal;
} /* regular */

/* Hans */
@font-face {
    font-family: Hans;
    src: url('/type/Hans-Razor.woff') format("woff");
    font-weight:100;
} /* 100 (razor) */
@font-face {
    font-family: Hans;
    src: url('/type/Hans-Thin.woff') format("woff");
    font-weight:200;
} /* 200 (thin) */
@font-face {
    font-family: Hans;
    src: url('/type/Hans-Light.woff') format("woff");
    font-weight:300;
} /* 300 (light) */
@font-face {
    font-family: Hans;
    src: url('/type/Hans-Regular.woff') format("woff");
    font-weight:400;
} /* 400 (regular) */
@font-face {
    font-family: Hans;
    src: url('/type/Hans-Medium.woff') format("woff");
    font-weight:500;
} /* 500 (medium) */
@font-face {
    font-family: Hans;
    src: url('/type/Hans-Bold.woff') format("woff");
    font-weight:600;
} /* 600 (bold) */
@font-face {
    font-family: Hans;
    src: url('/type/Hans-Heavy.woff') format("woff");
    font-weight:700;
} /* 700 (heavy) */
@font-face {
    font-family: Hans;
    src: url('/type/Hans-Super.woff') format("woff");
    font-weight:800;
} /* 800 (super) */

/* Ymirsson */
@font-face {
    font-family: Ymirsson;
    src: url('/type/Fokuso-Ymirsson4.woff') format("woff");
    font-weight:medium;
	font-style:normal;
} /* regular */
@font-face {
    font-family: Ymirsson;
    src: url('/type/Fokuso-Ymirsson5.woff') format("woff");
    font-weight:500;
	font-style:normal;
} /* medium */
@font-face {
    font-family: Ymirsson;
    src: url('/type/Fokuso-Ymirsson6.woff') format("woff");
    font-weight:600;
	font-style:normal;
} /* semibold */
@font-face {
    font-family: Ymirsson;
    src: url('/type/Fokuso-Ymirsson7.woff') format("woff");
    font-weight:bold;
	font-style:normal;
} /* bold */

/* Antoinette */
@font-face {
    font-family: Antoinette;
    src: url('/type/Ergata-Antoinette0.woff') format("woff");
    font-weight:50;
	font-style:normal;
} /* razor */
@font-face {
    font-family: Antoinette;
    src: url('/type/Ergata-Antoinette1.woff') format("woff");
    font-weight:100;
	font-style:normal;
} /* thin */
@font-face {
    font-family: Antoinette;
    src: url('/type/Ergata-Antoinette2.woff') format("woff");
    font-weight:thin;
	font-style:normal;
} /* light */
@font-face {
    font-family: Antoinette;
    src: url('/type/Ergata-Antoinette3.woff') format("woff");
    font-weight:300;
	font-style:normal;
} /* regular */
@font-face {
    font-family: Antoinette;
    src: url('/type/Ergata-Antoinette4.woff') format("woff");
    font-weight:400;
	font-style:normal;
} /* regular */
@font-face {
    font-family: Antoinette;
    src: url('/type/Ergata-Antoinette5.woff') format("woff");
    font-weight:500;
	font-style:normal;
} /* regular */

/* Talhertz */
@font-face {
    font-family: Talhertz;
    src: url('/type/Ergata-Talhertz1.woff') format("woff");
    font-weight:thin;
	font-style:normal;
} /* regular */
@font-face {
    font-family: Talhertz;
    src: url('/type/Ergata-Talhertz1.woff') format("woff");
    font-weight:100;
	font-style:normal;
} /* regular */
@font-face {
    font-family: Talhertz;
    src: url('/type/Ergata-Talhertz2.woff') format("woff");
    font-weight:200;
	font-style:normal;
} /* regular */
@font-face {
    font-family: Talhertz;
    src: url('/type/Ergata-Talhertz3.woff') format("woff");
    font-weight:300;
	font-style:normal;
} /* regular */
@font-face {
    font-family: Talhertz;
    src: url('/type/Ergata-Talhertz4.woff') format("woff");
    font-weight:medium;
	font-style:normal;
} /* regular */
@font-face {
    font-family: Talhertz;
    src: url('/type/Ergata-Talhertz5.woff') format("woff");
    font-weight:500;
	font-style:normal;
} /* medium */
@font-face {
    font-family: Talhertz;
    src: url('/type/Ergata-Talhertz6.woff') format("woff");
    font-weight:600;
	font-style:normal;
} /* semibold */
@font-face {
    font-family: Talhertz;
    src: url('/type/Ergata-Talhertz7.woff') format("woff");
    font-weight:700;
	font-style:normal;
} /* bold */
@font-face {
    font-family: Talhertz;
    src: url('/type/Fokuso-Antoinette5.woff') format("woff");
    font-weight:medium;
	font-style:italic;
} /* "italic" */

/* Runa */
@font-face {
    font-family: Runa;
    src: url('/type/Runa-Regular.woff') format("woff");
    font-weight:normal;
} /* regular */
@font-face {
    font-family: Runa;
    src: url('/type/Runa-Italic.woff') format("woff");
    font-style:italic;
    font-weight:normal;
} /* italic */

/* Subject Sans */
@font-face {
    font-family: SubjectSans;
    src: url('/type/SubjectSans-Regular.woff') format("woff");
    font-weight:normal;
} /* regular */
@font-face {
    font-family: SubjectSans;
    src: url('/type/SubjectSans-Bold.woff') format("woff");
    font-weight:bold;
} /* bold */

/* Willamette */
@font-face {
    font-family: Willamette;
    src: url('/type/Willamette-Regular.woff') format("woff");
    font-weight:normal;
} /* regular */

/* Kapitali */
@font-face {
    font-family: Mage;
    src: url("/type/Kapitali-Magescule6.woff") format("woff");
    font-weight:normal;
}

/* Aktivo */
@font-face {
    font-family: Aktivo;
    src: url('/type/AktivoPoster-01Light.woff') format("woff");
    font-weight:100;
	font-style:normal;
} /* light */
@font-face {
    font-family: Aktivo;
    src: url('/type/AktivoPoster-02Book.woff') format("woff");
    font-weight:200;
	font-style:normal;
} /* book */
@font-face {
    font-family: Aktivo;
    src: url('/type/AktivoPoster-03Regular.woff') format("woff");
    font-weight:300;
	font-style:normal;
} /* regular */
@font-face {
    font-family: Aktivo;
    src: url('/type/AktivoPoster-04Medium.woff') format("woff");
    font-weight:400;
	font-style:normal;
} /* medium */
@font-face {
    font-family: Aktivo;
    src: url('/type/AktivoPoster-05Bold.woff') format("woff");
    font-weight:500;
	font-style:normal;
} /* bold */